.poster-container {
    width: 100%;
    max-width: 1440px;
    height: 292px;
    background: rgb(37, 24, 26);
    background: linear-gradient(315deg, rgba(37, 24, 26, 1) 49%, rgba(125, 86, 71, 1) 100%);
    border-radius: 14px;
    padding: 0 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-container .items {
    height: 288px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.poster-container .items .right {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: right;
    color: #DABB9E;
}

.poster-container .items .right h3 {
    font-weight: 700;
    font-size: 24px;
}

.poster-container .items .right p {
    margin-bottom: 10px;
    width: 540px;
    line-height: 174.5%;
}

@media (max-width: 1400px) {
    .poster-container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .poster-container {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .poster-container {
        max-width: 768px;
        padding: 0;
    }

    .poster-container .items .right p {
        width: 450px;
    }
}

@media (max-width: 768px) {
    .poster-container {
        max-width: 576px;
        height: 550px;
    }

    .poster-container .items .right h3 {
        text-align: center;
    }

    .poster-container .items .right p {
        width: 400px;
        text-align: center;
    }

    .poster-container .items .right .mainbtn-container {
        margin-top: 10px;
        text-align: center;
    }

    .poster-container .items {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 80px;
    }
}

@media (max-width: 576px) {
    .poster-container {
        margin-top: 1500px;
        max-width: 100%;
        padding: 0 20px;
    }
}