.group-container {
    width: 100%;
    max-width: 1400px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.group-container .title h2 {
    color: #603809;
    font-weight: 700;
    font-size: 24px;
}

.group-container .groupList {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    direction: rtl;
    gap: 30px;
}

@media (max-width: 1400px) {
    .group-container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .group-container {
        max-width: 992px;
        margin-bottom: 200px;
        gap: 40px;
    }

    .group-container .groupList {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 992px) {
    .group-container {
        max-width: 768px;
        padding: 0;
    }

    .group-container .groupList {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 768px) {
    .group-container {
        max-width: 576px;
        margin-bottom: 450px;
    }

    .group-container .groupList {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 576px) {
    .group-container {
        max-width: 100%;
        margin-bottom: 970px;
        padding: 0 20px;
    }

    .group-container .groupList {
        grid-template-columns: auto;
    }
}