.navbar {
    /* background-color: red; */
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.navbar .right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
    height: 100%;
    /* background-color: green; */
}

.navbar .right .navigation .mobileNav {
    display: none;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    color: #DABB9E;
    cursor: pointer;
}

.navbar .right .navigation ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    list-style-type: none;
}

.navbar .right .navigation ul li a {
    color: #DABB9E;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition-property: color;
    transition-duration: .3s;
}

.navbar .right .navigation ul li a:hover {
    color: #FFEAD7;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition-property: color;
    transition-duration: .3s;
}

.navbar .right .img {
    height: 100%;
}

.navbar .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

.navbar .buttons .login a {
    text-decoration: none;
}

.navbar .buttons .login span {
    background-color: #463530;
    border: 1px solid #DABB9E;
    font-weight: bold;
    color: #DABB9E;
    border-radius: 12px;
    padding: 10px 20px;
}

.navbar .buttons>div>a>svg>path {
    transition-property: fill;
    transition-duration: .3s;
}

.navbar .buttons>div>a:hover>svg>path {
    fill: #FFEAD7;
    transition-property: fill;
    transition-duration: .3s;
}

@media (max-width: 992px) {

    .navbar {
        padding: 0 30px;
    }

    .navbar .right .img {
        display: none;
    }

    .navbar .right .navigation ul {
        display: none;
    }

    .navbar .right .navigation .mobileNav {
        display: flex;

    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .navbar .buttons {
        display: none;
    }
}